<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatishomework.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <package name="cn.edu.jlu.personnel.management.vo.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="cn.edu.jlu.personnel.management.support.CodeEnumTypeHandler"
                     javaType="cn.edu.jlu.personnel.management.enums.Gender"/>
    </typeHandlers>

 <!--   <plugins>
        <plugin interceptor=""/>
    </plugins>-->

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/PositionMapper.xml"/>
        <mapper resource="mappers/DepartmentMapper.xml"/>
        <mapper resource="mappers/AuthGroupMapper.xml"/>
        <mapper resource="mappers/UserAuthMapper.xml"/>
    </mappers>
</configuration>  