<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <!-- 定义日志输出格式 -->
    <property name="sta_pattern" value="%d{MM-dd HH:mm:ss.SSS} %5p %c:%L [%thread] %m%n"/>

    <!-- 错误日志输出文件配置 -->
    <appender name="errorLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${sta_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="fileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/file.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${sta_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${sta_pattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="errorLogger"/>
        <appender-ref ref="fileLogger"/>
        <appender-ref ref="console"/>
    </root>

</configuration>